body{
    background-color: #F5FBFF;
}

/* form */

section.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 85%;
    width: 100%;
}

section.form-main form{
    max-width: 350px;
    width: 80%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

section.form-main .form-group{
    position: relative;
}

section.form-main form input.form-input::placeholder{
    color: #E5E5E5;
}


section.form-main input.form-input{
    border:none;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    color: #9C9C9C;
}

section.form-main input.form-input:focus{
    border-bottom: 1px solid #64E5F8;
}

.form-btn{
    width: 95%;
    margin-bottom: 10px;
}

.description{
    margin-top: -15px;
    font-size: small;
    color: #868686;
}

