@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a:link{
    text-decoration: none;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul{
    list-style: none;
}

/* main */

.main{
    min-height: 100%;
    position:relative;
}

*html .main {
	height: 100%;
}

/* title */
.title{
    font-weight: bold;
}

.title-input{
    color: #ffffff;
    font-weight: bold;
}

/* waves */

div.waves{
    max-height: 200px;
}

/* font colors */
.white{
    color:#ffffff !important;
}

.black{
    color: #00322B !important;
}

.gray{
    color: #cccccc !important;
}

.green{
    color: #57BC90 !important;
}

.text-opacity{
    opacity: 0.6;
    font-size: small;
}

/* button */

.button-green{
    background-color: #00B39D;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.button-green:hover{
    opacity: 0.8;
    color: #ffffff;
}

.button-blue{
    background-color: #64E5F8;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
}

.button-blue:hover{
    opacity: 0.8;
    color: #ffffff;
}


/* icon */

.icon{
    width: 90px !important;
    height: 80px !important;
}

img.small-icon{
    width: 15px !important;
    height: 20px !important;
}


/* info blocks */
.lost{
    border: 1px solid red;
    color:  red;
}

.size{
    border: 1px solid #FF914D;
    color:  #FF914D;
}

/* navbar */

nav{
    background-color: #ffffff;
}

nav div.container img.logo{
    height: 80px;
    width: 170px;
    margin-right: 20px;
}

nav div.container li{
    padding: 10px;
}

nav div.container li:hover{
    background-color: #f7f7f7;
    transition: background-color 1.5s;
}


/* footer */

footer{
    background-color: #00322B;
    height: 50px;
    width: 100%;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    position: absolute;
}

footer .container {
    margin-top: 7px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

footer a{
    margin: 5px 30px 0px 0px;
}

footer p{
    margin: 5px 0px 0px 30px;
}

@media (max-width: 324px){
    footer{
        height: 70px;
    }
}

