@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a:link{
    text-decoration: none;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

/* title */
.title{
    font-weight: bold;
}

.title-input{
    color: #ffffff;
    font-weight: bold;
}

/* waves */

div.waves{
    max-height: 200px;
}

/* font colors */
.white{
    color:#ffffff !important;
}

.black{
    color: #00322B !important;
}

.gray{
    color: #cccccc !important;
}

.green{
    color: #57BC90 !important;
}

.text-opacity{
    opacity: 0.6;
    font-size: small;
}

/* button */

.button-green{
    background-color: #00B39D;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.button-green:hover{
    opacity: 0.8;
    color: #ffffff;
}

.button-blue{
    background-color: #64E5F8;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
}

.button-blue:hover{
    opacity: 0.8;
    color: #ffffff;
}

/* icon */

.icon{
    width: 90px !important;
    height: 80px !important;
}

/* info blocks */

.size{
    background-color: #FF914D;
}

.sex-male{
    background-color: #1fbaca;
}

.sex-female{
    background-color: #de0ec4;
}

/* navbar */

nav div.container img.logo{
    height: 80px;
    width: 180px;
    margin-right: 20px;
}

nav div.container li{
    padding: 10px;
}

nav div.container li:hover{
    background-color: #f7f7f7;
    transition: background-color 1.5s;
}


/* footer */

footer{
    background-color: #00322B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

footer a{
    margin: 4px 30px 0px 0px;
}

footer p{
    margin: 5px 0px 0px 30px;
}

