section.text-box .adopt-box,
section.text-box .donate-box{
    display: flex;
    justify-content: center;
    height: 550px;
    position: relative;
}

section.text-box .box{
    background-color: #F3F3f3;
    min-height: 550px;
    width: 50%;
}

section.text-box .center-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.text-box .center-text h1,
section.text-box .center-text p{
    width: 70%;
}

/* address */

section.address {
    background-color: #42E29C;
}
  
  section.address .col-md-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0px 70px 0px;
  }
  
  section.address .card {
    max-width: 230px;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
  }
  
  .thumb {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 180px;
    min-width: 215px;
    overflow: hidden;
  }
  
  .thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  section.address .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .flip-card {
    background-color: transparent;
    width: 230px;
    height: 301px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    margin-left: 5px;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing */
  /* Style the back side */
  .flip-card-back {
    background-color: #57bc90;
    color: white;
    margin-top: 9px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    padding: 15px;
  }
  
/* statement */

section.statement-box .statement{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

section.statement-box h1{
    margin: 40px 0px;
}

section.statement-box .text-depoiment{
    width: 80%;
}

section.statement-box .depoiments{
    margin-bottom: 70px;
}

/* media queries */

@media (max-width: 1200px) {
    section.address .card {
        max-width: 200px;
    }
    .flip-card {
        width: 200px;
    }
    .thumb {
        min-width: 180px;
        max-width: 200px;
    }
}

@media (max-width: 992px){

    section.text-box .adopt-box{
        flex-direction: column;
        align-items: center;
        margin: 280px 0px 500px 0px;
    }

    section.text-box .donate-box{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 300px;
    }

    section.text-box .box{
        width: 100%;
    }

    section.statement-box .text-depoiment{
        width: 100%;
    }
    section.address .col-md-4 {
        margin-top: 20px;
        max-width: 90%;
    }
      section.address .col-md-8 {
        max-width: 100%;
    }
      section.address .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    section.address .card {
        max-width: 230px;
    }
}

@media (max-width: 768px){
    section.text-box .box img{
        width: 70%;
        height: 70%;
    }

    section.address .card {
        max-width: 230px;
    }
    .flip-card {
        width: 230px;
        margin-top: 15px;
    }
    .thumb {
        max-width: 230px;
    }

    section.statement-box .statement{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.statement-box .text-depoiment{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.statement-box .text-depoiment h4{
        margin: 10px 0px;
    }

    section.statement-box .text-depoiment p{
        text-align: center;
    }
}

@media (max-width: 340px) {
    section.address .col-md-8 {
      margin-bottom: 80px;
    }
}

@media (max-width: 285px){
    .title{
        font-size: 25px;
    }
}
