@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a:link{
    text-decoration: none;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

/* title */
.title{
    font-weight: bold;
}

.title-input{
    color: #ffffff;
    font-weight: bold;
}

/* waves */

div.waves{
    max-height: 200px;
}

/* font colors */
.white{
    color:#ffffff !important;
}

.black{
    color: #00322B !important;
}

.gray{
    color: #cccccc !important;
}

.green{
    color: #57BC90 !important;
}

.text-opacity{
    opacity: 0.6;
    font-size: small;
}

/* button */

.button-green{
    background-color: #00B39D;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.button-green:hover{
    opacity: 0.8;
    color: #ffffff;
}

.button-blue{
    background-color: #64E5F8;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
}

.button-blue:hover{
    opacity: 0.8;
    color: #ffffff;
}

/* icon */

.icon{
    width: 90px !important;
    height: 80px !important;
}

/* info blocks */

.size{
    background-color: #FF914D;
}

.sex-male{
    background-color: #1fbaca;
}

.sex-female{
    background-color: #de0ec4;
}

/* navbar */

nav div.container img.logo{
    height: 80px;
    width: 180px;
    margin-right: 20px;
}

nav div.container li{
    padding: 10px;
}

nav div.container li:hover{
    background-color: #f7f7f7;
    transition: background-color 1.5s;
}


/* banner */

section.banner{
    padding: 250px 0px;
    position: relative;
    min-height: 400px;
    background-image: url('images/banner.webp');
    width: 100%;
    background-size: cover;
    background-position: center;
}

section.banner > .container{
    position: relative;
    z-index: 2;
}

.overlay{
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(15,15,15,0.5);
}

.chamada-banner h1{
    color:#ffffff;
    font-size: 50px;
}

.chamada-banner p{
    margin: 24px 0px;
    color:#ffffff;
    font-size: 21px;
}

.chamada-banner a{
    padding: 10px 18px;
    color: #ffffff;
    font-size: 19px;
    display: inline-block;
    background-color: #26a599;
    border-radius: 3px;
    text-decoration: none;
    transition: opacity 2s;
}

.chamada-banner a:hover{
    opacity: 0.7;
}

/* filter */

section.filter{
    background-color: #42E29C;
}

section.filter .col-md-4, 
section.filter .col-md-8{
    padding: 10px;
    margin: 20px 0px;
}

section.filter .col-md-4{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.filter .input-filter{
    background-color: #42E29C;
    border: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 250px;
}

section.filter .input-filter::placeholder{
    color: #ffffff;
    opacity: 0.7;
}

section.filter select.input-filter{
    background-color: #42E29C;
}



/* publications */

section.publications{
    background-color: #F3F3F3;
}

section.publications .col-md-12{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}

section.publications .container .row .col-md-4{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

section.publications .card{
    margin:20px 0px;
}

section.publications .card img{
    cursor: pointer;
    z-index: 3;
    min-height: 180px
}

section.publications .card .overlay-green{
    width:100%;
    height: 190px;
    background-color: #57BC90;
    opacity: 0.7;
    z-index: 4;
    display: none;
    
}

section.publications .card img:hover + .overlay-green{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

section.publications .card .block-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

section.publications .card .localization{
    margin-top: -8px;
}

section.publications .card .block-info .info p{
    margin-top: 15px !important;
    cursor: pointer;
}

section.publications .card .block-info .info{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center !important;
}






/* help */

section.help .col-md-4{
    display: flex;
    justify-content: center;
}

section.help .infocard{
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0px;
    width: 266px;
    transition: box-shadow 0.6s;
    min-height: 330px;
}

section.help .infocard:hover{
    box-shadow: 8px 7px 5px -3px #cccccc;
}

section.help .infocard a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.help .infocard h2{
    margin-top: 20px;
}

section.help .infocard a p{
    padding: 10px;
    margin-top: 10px;
    max-width: 200px;
    text-align: justify;
}


/* footer */

footer{
    background-color: #00322B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

footer a{
    margin: 4px 30px 0px 0px;
}

footer p{
    margin: 5px 0px 0px 30px;
}

/* media queries */

@media (max-width: 990px){
    section.publications .card {
        max-width: 230px;
    }

    section.publications .card img{
        min-height: 160px;
    }

    section.publications .card .overlay-green{
        height: 160px;
    }

    section.filter .input-filter{
        width: 200px;
    }
} 

@media (max-width: 768px){
    section.filter .input-filter{
        width: 100%;
    }
    section.filter form{
        padding: 20px;
    }
}